@font-face {
    font-family: "Source Sans Pro Black";
    src: url("./SourceSans/SourceSansPro-Black.otf")
}
@font-face {
    font-family: "Source Sans Pro Bold";
    src: url(./SourceSans/SourceSansPro-Bold.otf);
}
@font-face {
    font-family: "Source Sans Pro Light";
    src: url(./SourceSans/SourceSansPro-Light.otf);
}
@font-face {
    font-family: "Source Sans Pro Regular";
    src: url(./SourceSans/SourceSansPro-Regular.otf);
}
@font-face {
    font-family: "Source Sans Pro SemiBold";
    src: url(./SourceSans/SourceSansPro-SemiBold.otf);
}
@font-face {
    font-family: "Source Sans Pro ExtraLight";
    src: url(./SourceSans/SourceSansPro-ExtraLight.otf);
}
@font-face {
    font-family: "Source Sans Pro ExtraLight Italic";
    src: url(./SourceSans/SourceSansPro-ExtraLightIt.otf);
}
@font-face {
    font-family: "Source Sans Pro Italic";
    src: url(./SourceSans/SourceSansPro-It.otf);
}

* {
    font-family: "Source Sans Pro Regular", sans-serif;
}

/**
    * Header
 */

header {
    background-image: url(images/pic_1.jpg);
    background-size: cover;
    width: 1440px;
    height: 1093px;
    background-position: center;
    padding-bottom: 50px;
}
header a{
    
}

header >div div {
    
}
header img {
    margin-top: 20px;
    margin-left: 150px;
}
header nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 60px;
    margin-right: 150px;
    margin-top: -30px;
}
header nav a {

    color: white;
    text-decoration: none;


}

header section{
    text-align: center;
    color: white;
    margin-top: 200px;
}

header section h2 {
    color: white;
    font-family: "Source Sans Pro ExtraLight", sans-serif;
}

header div div p {
    font-family: "Source Sans Pro ExtraLight Italic", sans-serif;
}

header section p {
    font-family: "Source Sans Pro Bold", sans-serif;
}

button {
    background-color: #C271FF;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 8px 10px;

}



header section div h1{
    font-family: "Source Sans Pro Bold", sans-serif;
    font-size: 7em;
    margin: 0;
}

header section img {
border-radius: 50%;
width: 100px;
height: 100px;
}

/**
    * Testimonial Section (First Section)
 */

main section:first-of-type {
background-color: #C271FF;
padding: 20px 0;
width: 1440px;
height: 392px;

}

main section:first-of-type img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    float:left;
    margin-left: 10px;
}

main section:first-of-type p {
    color: white;
    display: flex;
    justify-content: flex-start;
    margin-left: 30%;
}

main section:first-of-type p:first-of-type {
    font-family: "Source Sans Pro Bold", sans-serif;
}

main section:first-of-type p:nth-of-type(2) {
    font-family: "Source Sans Pro Italic", sans-serif;
}

main section blockquote
{
    display: flex;
    justify-content: center;
    color: white;
    text-align: left;
    

}

/**
    * Tutorial Section (Second Section)
 */

main section:nth-of-type(2) {
    margin-left: 50px;
}
    
main section:nth-of-type(2) h1 {
    font-family: "Source Sans Pro Light", sans-serif;
    text-align: center;
}
main section:nth-of-type(2){
    width: 1228px;
    height: 450px;
}

main section:nth-of-type(2) p {
    color:#C271FF;

}

main section:nth-of-type(2) div:first-of-type div p {
    color: grey;
}

main section:nth-of-type(2) div div {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}
main section:nth-of-type(2) >div:first-of-type  {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
main section:nth-of-type(2) div:first-of-type div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

main section:nth-of-type(2) div:first-of-type img {
    height: 125px;
    width: 200px;
    position: relative;
    }

    main section:nth-of-type(2) div:first-of-type img::after {
        content: url(./images/play.png  );
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        pointer-events: none;
}

main section:nth-of-type(2) div:nth-of-type(2) {
display: flex;
flex-direction: row;
justify-content: space-between;
}


main section:nth-of-type(2) >div:nth-of-type(2) img {
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

main section:nth-of-type(2) h3 {
    color: #C271FF;
    margin: -25px 0 0 35px;
}

main section:nth-of-type(2) div:nth-of-type(3) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }

/*
    * Membership Section (Third Section)
*/

main section:nth-of-type(3){
    background-color:#071629 ;
    padding: 40px 0;
    width: 1440px;
    height: 502px;
}

main section:nth-of-type(3) h1 {
    color: white;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}
main section:nth-of-type(3) h2{
    color: white;
    text-align: center;
}

main section:nth-of-type(3) p{
    color: white;
    text-align: center;
    width: 70%;
    margin-left: 52px;
}

main section:nth-of-type(3) img {
    height: 50px;
    width: 50px;
    margin-left: 150px;
}

main section:nth-of-type(3) >div >div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

main section:nth-of-type(3) button{
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    font-size: 1.2em;
}

/*
    * F.A.Q Section (Fourth Section)
*/

main section:nth-of-type(4){
    padding-bottom: 50px;
    width: 920px;
    height: 707px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main section:nth-of-type(4) p {
    color: grey;
    font-family: "Source Sans Pro Light", sans-serif;
}

main section:nth-of-type(4) h1 {
    font-family: "Source Sans Pro ExtraLight", sans-serif;
    margin-left: 475px;
    width: 100%;
}

main section:nth-of-type(4) >div:first-of-type  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 100px;
    width: 95%;
    margin-left: 500px;
}

main section:nth-of-type(4) h2 {
    text-align: center;;
}

main section:nth-of-type(4) p {
    text-align: left;
}


main section:nth-of-type(4) h1 {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

/*
    * Footer
*/


footer {
    background-color:#071629 ;
    width: 1440px;
    height: 249px;
}

footer div div img{
    margin-top: 20px;
    margin-left: 5%;
}

footer div div div {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: -50px 0 0 0px;
    margin-right: 5%;
}

footer p {
    color: grey;
    text-align: center;
    margin-top: 4px;
}
